Node-Red-Challenge/Zip Code Searcher.json
[
    {
        "id": "f08e0df6ab02df73",
        "type": "tab",
        "label": "Zip Code Searcher",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd88e12874d2525c",
        "type": "http in",
        "z": "f08e0df6ab02df73",
        "name": "EndpointZipGet",
        "url": "/zip_searcher/:zip",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 420,
        "y": 300,
        "wires": [
            [
                "2b7a6e666a569b4d"
            ]
        ]
    },
    {
        "id": "1fe1afeecbc45a9a",
        "type": "http response",
        "z": "f08e0df6ab02df73",
        "name": "Response",
        "statusCode": "",
        "headers": {},
        "x": 1360,
        "y": 300,
        "wires": []
    },
    {
        "id": "819ec8c28ae3a90a",
        "type": "template",
        "z": "f08e0df6ab02df73",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Zip Coder Searcher</title>\n\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            background-color: #f4f4f4;\n            margin: 20px;\n        }\n\n        h1 {\n            text-align: center;\n            color: #333;\n        }\n\n        #zip-form {\n            text-align: center;\n            margin-bottom: 20px;\n        }\n\n        #zip-details {\n            max-width: 600px;\n            margin: auto;\n        }\n\n        #zip-details {\n            background: #fff;\n            margin: auto;\n            padding: 15px;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);    \n        }\n\n        #cep-details p {\n            margin: 5px 0;\n        }\n\n        #zip-input{\n            width:400px;\n            height:25px;\n        }\n\n        #zip-button{\n            width: 80px;\n            height:30px;\n        }\n\n    </style>\n</head>\n\n<body>\n    <h1>Busca de CEP</h1>\n    <div id=\"zip-form\">\n        <input type=\"text\" id=\"zip-input\" placeholder=\"Insira o CEP\" />\n        <button id=\"zip-button\" onclick=\"buscarCep()\">Buscar</button>\n    </div>\n\n    <div id=\"zip-details\">\n        <p>Cep: {{payload.cep}}</p>\n        <p>Rua: {{payload.street}}</p>\n        <p>Bairro: {{payload.neighborhood}}</p>\n        <p>Cidade: {{payload.city}}</p>\n        <p>Estado: {{payload.state}}</p>\n    </div>\n    \n    <script>\n        document.addEventListener(\"DOMContentLoaded\", function() {\n            const zipInput = document.getElementById(\"zip-input\");\n            document.getElementById(\"zip-input\").addEventListener(\"keypress\", function(event) {\n                if (event.key === \"Enter\") {\n                    buscarCep();\n                }\n            });\n\n            zipInput.addEventListener(\"input\", function() {\n                let value = zipInput.value;\n\n                value = value.replace(/\\D/g, '');\n\n                if (value.length > 8) {\n                    value = value.slice(0, 8);\n                }\n\n                zipInput.value = value;\n            });\n\n\n            window.buscarCep = function() {\n                const zip = zipInput.value;\n                if (zip && zip.length === 8) {\n                    window.location.href = `/zip_searcher/${zip}`;\n                } else {\n                    alert(\"Por favor, insira um CEP válido com 8 dígitos.\");\n                }\n            };\n        });\n    </script>\n</body>\n</html>",
        "output": "str",
        "x": 1180,
        "y": 300,
        "wires": [
            [
                "1fe1afeecbc45a9a"
            ]
        ]
    },
    {
        "id": "d104701db1d61c5d",
        "type": "http request",
        "z": "f08e0df6ab02df73",
        "name": "Http Request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1010,
        "y": 300,
        "wires": [
            [
                "819ec8c28ae3a90a"
            ]
        ]
    },
    {
        "id": "31279737e29532a1",
        "type": "change",
        "z": "f08e0df6ab02df73",
        "name": "Change",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 300,
        "wires": [
            [
                "d104701db1d61c5d"
            ]
        ]
    },
    {
        "id": "2b7a6e666a569b4d",
        "type": "function",
        "z": "f08e0df6ab02df73",
        "name": "FunctionRequest",
        "func": "let zip = msg.req.params.zip;\n\nmsg.payload = `https://brasilapi.com.br/api/cep/v2/${zip}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 300,
        "wires": [
            [
                "31279737e29532a1"
            ]
        ]
    }
]